blinker==1.4
docutils==0.16
feedgenerator==1.9.1
ghp-import==1.0.0
importlib-metadata==1.7.0
invoke==1.4.1
Jinja2==2.11.2
livereload==2.6.3
Markdown==3.2.2
MarkupSafe==1.1.1
pelican==4.2.0
punch.py==2.0.0
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
smartypants==2.0.1
tornado==6.0.4
typogrify==2.0.7
Unidecode==1.1.1
zipp==3.1.0
